<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Tambahan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body background = "{% static 'images/joseph-chan-sBc8oen_ocg-unsplash.jpg' %}">
    <div>
        <p style="font-size: 3.6vw" class="text-center text-white mt-5">
            Coming soon...
        </p>
    </div>
    <button style="font-size: 2vw" class="m-5" type="button" onclick="javascript:history.back()"><span ></span>Back</button>
</body>
</html>