<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body background = "{% static 'images/joseph-chan-sBc8oen_ocg-unsplash.jpg' %}">
    <div class="d-flex justify-content-center card-body bg-light m-5 p-5">
        <img style="width:25vw ; min-width: 100px;" class= "ml-1" src="{% static 'images/FOTO 3x4_190917_0005.jpg' %}" alt="maap" style="width: 20%">
        <div style="font-size: 2vw" class="card-body bg-secondary ml-2 col-lg-8 bg-light">   
            <h1 style="font-size: 4.8vw" >Profil</h1>
            
            Nama : Sulthan Zahran Sunata<br>
            
            NPM : 1806191585<br>
                        
            Angkatan : 2018<br>
                        
            Jurusan : Sistem Informasi<br>
                        
            Tempat Tanggal Lahir : Jakarta, 7 September 2000<br>
                        
            Alamat Tempat Tinggal : Jl. Daan Mogot<br>
                        
            Email : sulthan.zahran0709@gmail.com<br>
                        
            Nomor HP : 081288949960
        </div>
    </div>
    <button style="font-size: 2vw" class="d-flex justify-content-center m-5" type="button" onclick="javascript:history.back()"><span ></span>Back</button>
</body>
</html>